# config/iwslt17_xlstm01.yaml
model:
  num_blocks: 4
  embedding_dim: 256

  mlstm_block:
    mlstm:
      conv1d_kernel_size: 4
      qkv_proj_blocksize: 4
      num_heads: 4

  # full slstm config
  slstm_block:
    slstm:
      backend: cuda
      num_heads: 4
      conv1d_kernel_size: 4
      bias_init: powerlaw_blockdependent
    feedforward:
      proj_factor: 1.3
      act_fn: gelu

  # use sLSTM in every block
  slstm_at: [0, 1, 2, 3]

  context_length: 128
